<!-- Footer Include !-->
<footer class="template-footer">

	{{widget('logo', 'footerlogo', {"defaultlogo": asset('images/logo.png')})|raw}}
	{{widget('companyname', 'footercompanyname', {"business": "profile"})|raw}}

	<div class="profile-widgets">
		{{widget('profile', 'footer-profile-phone', { 'profileType':'phone', 'phone':'profile', 'refreshtime':'1800000'})|raw}}
		{{widget('profile', 'footer-profile-address', { 'profileType':'address', 'address':'profile', 'refreshtime':'1800000'})|raw}}
	</div>

</footer>



